	field(INP$(I),DBF_INLINK) {
		prompt("Input $(I)")
		promptgroup(GUI_CALC)
		interest(1)
	}
	field(STR$(I),DBF_STRING) {
		prompt("String $(I)")
		promptgroup(GUI_OUTPUT)
		asl(ASL0)
		initial("%s")
		pp(TRUE)
		size(40)
	}
	field(EN$(I),DBF_MENU) {
		prompt("Enable link $(I)")
		promptgroup(GUI_INPUTS)
		pp(TRUE)
		initial("1")
		menu(menuYesNo)
	}
	field(ACT$(I),DBF_MENU) {
		prompt("Link alarm active $(I)")
		promptgroup(GUI_INPUTS)
		special(SPC_NOMOD)
		initial("0")
		menu(menuYesNo)
	}
	field(SEV$(I),DBF_MENU) {
		prompt("Override severity $(I)")
		promptgroup(GUI_ALARMS)
		pp(TRUE)
		interest(1)
		menu(menuAlarmSevr)
	}
	field(MSV$(I),DBF_MENU) {
		prompt("Minimum severity $(I)")
		promptgroup(GUI_ALARMS)
		pp(TRUE)
		interest(1)
		menu(menuAlarmSevr)
	}
	field(DLY$(I),DBF_DOUBLE) {
		prompt("Active alarm delay $(I)")
		pp(TRUE)
	}
	field(DBI$(I),DBF_DOUBLE) {
		prompt("Debounce interval $(I)")
		initial("0.0")
		pp(TRUE)
	}
	field(DBC$(I),DBF_ULONG) {
		prompt("Debounce count limit $(I)")
		initial("0")
		pp(TRUE)
	}
